/.venv/
/chapter2/alice_private.pem
/chapter2/alice_public.pem
/chapter2/bob_private.pem
/chapter2/bob_public.pem
/chapter2/header.json
/chapter2/payload.bin
/chapter2/radiology_report_decrypted.pdf
/chapter2/token.jwt
/chapter3/.env
